@{
    Layout = "~/Views/Shared/_SecretaryLayout.cshtml";
}
<h2>Grants</h2>

<p>Total Sum :</p><input id="Total_sum" type="text" />
<p>Burse de excelenta: (%)</p><input id="Burse_de_excelenta" type="number" />
<p>Burse de studiu: (%)</p><input id="Burse_de_studiu" type="number" />
<p>Burse sociale(%)</p><input id="Burse_sociale" type="number" />
<p>Burse de performanta: (%)</p><input id="Burse_de_performanta" type="number" />

<p></p>
<input id="Submit1" type="submit" value="Submit" />

